.border-block {
    border: 3px solid black;
    width: 60%;
    max-width: 1200px;
    height: 600px;
    overflow: auto;
    margin: auto;
    text-align: center;
}
.border-block-left {
    border: 3px solid black;
    width: 60%;
    max-width: 1200px;
    height: 600px;
    overflow: auto;
    margin: auto;
    text-align: left;
}