.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.container div {
    float: left;
    margin-bottom: 15px;
}

.col-1-2 {
    width: 50%;
    outline: 2px solid #000;
    border-radius: 10px;
}

.col-1-2-no-boarder {
    width: 50%;
}

.col-1-1 {
    width: 100%;
    outline: 2px solid #000;
    border-radius: 10px;
}

.col-1-1-no-boarder {
    width: 100%;
    text-align: left;
}

.col-5-2 {
    width: 20%;
    outline: 2px solid #000;
    border-radius: 10px;
}

.col-5-2-no-boarders {
    width: 20%;
}

.col-3-1-no-boarder {
    width: 33.3%;
    text-align: right !important;
}

.container-buttons {
    display: flex;
    justify-content: center;
}