<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="/static/css/center.css" rel="stylesheet"/>
    <link href="/static/css/container.css" rel="stylesheet"/>
    <link href="/static/css/table-no-border.css" rel="stylesheet"/>
    <link href="/static/css/border-block.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
</head>
<body>
<header class="header">
    <h1 th:text="${username}">
    </h1>
    <nav>
        <a th:href="@{/}">Смена пользователя</a>
    </nav>
</header>

<div class="main">
    <div class="container">
        <div class="col-1-2-no-boarder" th:text="${animal.toString()}">
        </div>
        <div class="col-1-1">
            <form method="post" th:action="@{/edit(type=${animal.getType()}, id=${animal.getId()})}">
                <div class="col-5-2-no-boarders">
                    <label for="name">Введите имя:</label>
                    <input id="name" th:name="name" type="text"/>
                    <br/>
                    <br/>
                </div>
                <div class="col-5-2-no-boarders">
                    <label for="time">Часы работы:</label>
                    <input id="time" th:value="time" type="number"/>
                    <br/>
                </div>

                <div class="col-5-2-no-boarders">
                    <br/>
                    <label for="moves">Выберите команды:</label>
                    <div th:object="${moves}">
                        <select id="moves" th:name="moveId">
                            <option th:each="item : ${moves}"
                                    th:text="${item.getName()}"
                                    th:value="${item.getId()}">
                            </option>
                        </select>
                        <br/>
                        <button th:name="action" th:type="submit" th:value="addMove">Добавить</button>
                        <button th:name="action" th:type="submit" th:value="delMove">Убрать</button>
                    </div>
                    <br/>
                </div>
                <div class="col-5-2-no-boarders">
                    <br/>
                    <label for="Food">Выберите еду:</label>
                    <div th:object="${food}">
                        <select id="Food" th:name="foodId">
                            <option th:each="item : ${food}"
                                    th:text="${item.getName()}"
                                    th:value="${item.getId()}">
                            </option>
                        </select>
                        <br/>
                        <button th:name="action" th:type="submit" th:value="addFood">Добавить</button>
                        <button th:name="action" th:type="submit" th:value="delFood">Убрать</button>
                    </div>
                    <br/>
                </div>
                <div class="col-5-2-no-boarders">
                    <br/>
                    <br/>
                    <button th:name="action" th:type="submit" th:value="finish">Закончить</button>
                    <button th:name="action" th:type="submit" th:value="delete">Удалить животное</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>