<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="/static/css/center.css" rel="stylesheet"/>
    <link href="/static/css/container.css" rel="stylesheet"/>
    <link href="/static/css/table-no-border.css" rel="stylesheet"/>
    <link href="/static/css/border-block.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
</head>
<body>
<header class="header">
    <h1 th:text="${username}">
    </h1>
    <nav>
        <a th:href="@{/}">Смена пользователя</a>
    </nav>
</header>

<div class="main">
    <div class="center">
        <h3>
            Животные:
        </h3>
    </div>
    <div class="container">
        <div class="col-1-2">
            <form method="post" th:action="@{/new}">
                <label for="animalType">Тип:</label>
                <select id="animalType" th:name="type">
                    <option value="Cat">Кошка</option>
                    <option value="Dog">Собака</option>
                    <option value="Humster">Хомяк</option>
                    <option value="Horse">Лошадь</option>
                    <option value="Donkey">Осёл</option>
                    <option value="Camel">Верблюд</option>
                </select>
                <br/>
                <br/>
                <label for="name">Введите имя:</label>
                <input id="name" th:name="name" type="text"/>
                <br/>
                <br/>
                <label for="time">Часы работы:</label>
                <input id="time" th:value="time" type="number"/>
                <br/>
                <input type="submit" value="Добавить животное"/>
            </form>
        </div>
        <div class="col-1-2">
            <table class="table-no-border">
                <tbody>
                <tr th:each="count: ${counts}">
                    <td th:text="${count.toString()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-1-1">
            <table class="table-no-border">
                <tr th:each="animal : ${allAnimals}">
                    <td>
                        <a th:href="@{/edit(type=${animal.getType()}, id=${animal.getId()})}"
                           th:text="${animal.toString()}"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>