<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="/static/css/center.css" rel="stylesheet"/>
    <link href="/static/css/container.css" rel="stylesheet"/>
    <link href="/static/css/table-no-border.css" rel="stylesheet"/>
    <link href="/static/css/border-block.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
</head>
<body>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/7edf9b7286.js"></script>
<header class="header">
    <h1 th:text="${username}">
    </h1>
    <nav>
        <a th:href="@{/}">Смена пользователя</a>
    </nav>
</header>
<div class="main">
    <div class="center">
        <h3>
            Животные:
        </h3>
    </div>
    <div class="container">
        <div class="col-1-2">
            <form method="post" th:action="@{/newFoodMoves}">
                <br/>
                <br/>
                <label for="food">Введите название еды:</label>
                <input id="food" th:name="foodName" type="text"/>
                <br/>
                <br/>
                <label for="move">Введите название команды:</label>
                <input id="move" th:name="moveName" type="text"/>
                <br/>
                <br/>
                <input type="submit" value="Добавить"/>
                <br/>
                <br/>
            </form>
        </div>
        <div class="col-1-2">
            <table class="table-no-border">
                <tbody>
                <tr th:each="count: ${counts}">
                    <td th:text="${count.toString()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="col-1-2">
            <h4>Еда</h4>
            <table class="table-no-border">
                <tr th:each="item : ${food}">
                    <td>
                        <form method="post" th:action="@{/delFoodMoves(type='food', name=${item.getName()})}">
                            <p th:text="${item.getName()}"></p>
                            <button class="btn btn-success" type="submit">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-1-2">
            <h4>Команды</h4>
            <table class="table-no-border">
                <tr th:each="item : ${moves}">
                    <td>
                        <form method="post" th:action="@{/delFoodMoves(type='moves', name=${item.getName()})}">
                            <p th:text="${item.getName()}"></p>
                            <button class="btn btn-success" type="submit">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>